<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %}Pet Adoption{% endblock %}</title>
  </head>
  <body>
    {% block content %}
        {% for pet in pets %}
            <div class = "pet_profile">
                <h2>{{ pet.name}}</h2>
                <img class = "pic" src="{{ pet.image_url }}">
                {% if pet.available == True %}
                    <div><a href="/{{ pet.id }}">{{ pet.name }}</a> is <b>Available</b></div>
                {% endif %}
            </div>
        {% endfor %}
        <br>
       <div><a href="/add"><button>Add a Pet</button></a></div>
    {% endblock %}
  <body>
</html>